.top-buffer {
    margin-top: 22px;
}

.form-control:focus {
    border-color: #fff;
}

.btn-outline-info:hover {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: #fff;
}

.btn-outline-info.focus, .btn-outline-info:focus {
    box-shadow: none;
}